* {
    margin: 0;
    padding: 0;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "nav header header header"
        "nav primeraSeccion primeraSeccion aside"
        "nav segundaSeccion segundaSeccion aside"
        "nav form form aside"
        "footer footer footer footer";
    background-color: blanchedalmond;
    color: black;
}

/* NAV */
.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav ul {
    margin-top: 50px;
    width: 100%;
}

.nav li {
    list-style: none;
    padding: 25px;
    height: 40px;
    text-align: center;
}

.nav li:hover {
    transform: scale(1.1);
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav img {
    width: 180px;
    padding: 20px;
    transform: scale(1, 2);
    animation-name: girando;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

/* HEADER */
.header2 {
    grid-area: header;
    text-align: center;
    background-color: #c6c6c6;
    color: black;
    height: 12vh;
    padding-top: 30px;
    background-image: linear-gradient(to right, rgb(0, 34, 128), rgb(0, 77, 128), rgb(0, 128, 111));
}

.header2 h1 {
    font-family: 'Lobster', cursive;
    transform: skew(1deg, 3deg);
    animation-name: unaAnimacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*PRIMERA SECCION*/

.primeraSeccion {
    grid-area: primeraSeccion;
    /* Unidad relativa 16px = 1rem */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, green, red);
}

.primeraSeccion p {
    max-width: 1100px;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.primeraSeccion h2 {
    font-size: 2.5rem;
}

/*SEGUNDA SECCION*/

.segundaSeccion {
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.segundaSeccion div {
    display: flex;
    /* flex-direction: row; */
}

.segundaSeccion img {
    max-width: 200px;
    margin-left: 7rem;
    transform: rotate(-2deg);
}

.segundaSeccion h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}

.segundaSeccion button {
    padding: 20px;
    margin: 100px;
    transform: rotate(2deg);
    transition: 2s;
}

.segundaSeccion button:hover {
    transform: scale(1.1);
}

/* FORMULARIO */

.form {
    grid-area: form;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h3 {
    font-size: 3rem;
    transform: translate(-500px, 100px);
}

.form div {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 1.5rem;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

.form input[type=submit]:hover {
    background-color: black;
    color: white;
}

.form input:focus {
    width: 500px;
    transition: .5s;
}

/* ASIDE */

.aside {
    grid-area: aside;
    background-image: url('https://static.wikia.nocookie.net/tatsufannon/images/4/40/S%C3%ADmbolo_del_Clan_Nara.png/revision/latest?cb=20130911021812&path-prefix=es');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    margin-top: 100px;
}

.aside h3 {
    font-size: 1.5rem;
    text-align: center;
}

.aside img {
    max-width: 200px;
    margin-left: 2rem;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: greenyellow;
    animation-name: unaAnimacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.footer i {
    font-size: 2rem;
}

/* HTML FIGURAS  */

.grilla2 {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "nav header header header"
        "nav primeraSeccion primeraSeccion aside"
        "nav segundaSeccion segundaSeccion aside"
        "nav form form aside"
        "footer footer footer footer";
    background-color: rgb(0, 128, 128);
    color: black;
}

/* HTML MANGA */

.body4 {
    background-color: rgb(64, 128, 64);
}

.grilla3 {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "nav header header header"
        "nav primeraSeccion primeraSeccion aside"
        "nav segundaSeccion segundaSeccion aside"
        "nav form form aside"
        "footer footer footer footer";
    background-color: rgb(93, 126, 93);
    color: black;
}

.primeraSeccion button {
    padding: 20px;
    margin: 25px;

}

.segundaSeccion4 {
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.segundaSeccion4 div {
    display: flex;
    flex-direction: row;
    margin: 5rem;
}

.segundaSeccion4 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-left: 7rem;
}

.segundaSeccion4 h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

/* HTML MERCHANDISING */

.body {
    background-color: rgba(47, 255, 245, 0.329);
}

.primeraSeccion3 {
    grid-area: primeraSeccion;
    /* Unidad relativa 16px = 1rem */
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primeraSeccion3 p {
    max-width: 1000px;
    text-align: center;
    margin: 5rem;
    font-size: 2rem;
}

.primeraSeccion3 h2 {
    font-size: 2.5rem;
}

.segundaSeccion3 {
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.segundaSeccion3 div {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.segundaSeccion3 img {
    max-width: 200px;
    margin-left: 7rem;
}

.segundaSeccion3 h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

.segundaSeccion3 button {
    padding: 20px;
    margin: 100px;
}

.segundaSeccion3 button:hover {
    transform: scale(1.1);
}


@keyframes unaAnimacion {
    0% {
        background-color: #4f52db;
    }

    25% {
        background-color: blueviolet;
    }

    50% {
        background-color: crimson;
    }

    75% {
        background-color: chocolate;
    }

    100% {
        background-color: darkorange;
    }
}

@keyframes girando {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

/* MEDIA QUERY */
/* MOBILE LAST - ANCHO MAX / MAX-WIDTH */
/* MOBILE FIST - ANCHO MINIMO / MIN-WIDTH */

@media (max-width: 768px) {

    .grilla{
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "primeraSeccion primeraSeccion primeraSeccion primeraSeccion"
            "segundaSeccion segundaSeccion segundaSeccion segundaSeccion"
            "form form form form"
            "footer footer footer footer";
    }

    .aside{
        display: none;
    }

    .nav{
        flex-direction: row;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }
    
    }

    .primeraSeccion {
        flex-direction: row;
    }
    
    .segundaSeccion div {
        flex-direction: row;
    }
    
    .segundaSeccion img {
        flex-direction: row;
    }

    .form {
        /* flex-direction: row; */
    }
    
    .form div {
        /* flex-direction: row; */
    }
    

@media (max-width: 320px) {
    .grilla{
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "primeraSeccion primeraSeccion primeraSeccion primeraSeccion"
            "segundaSeccion segundaSeccion segundaSeccion segundaSeccion"
            "form form form form"
            "footer footer footer footer";
    }

    .aside{
        display: none;
    }

    .nav{
        flex-direction: row;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }
    
    }
    
    .segundaSeccion div {
        flex-direction: row;
    }
    
    .segundaSeccion img {
        flex-direction: row;
    }
